@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


:root{
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body{
  font-family: 'Poppins',sans-serif;
  color: var(--primary-text-color);
}

h1{
  font-size: 3rem;
  font-weight: 500;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

p{
  font-size: 1.25rem;
  font-family: 'Roboto',sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a{
  text-decoration: none;
  display: inline-block;
}

ul{
  list-style: none;
}

/* utility classes */

.small-bold-text{
  font-size: 1rem;
  font-weight: 500;
}

.container{
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex{
  display: flex;
  align-items: center;
}

.hover-link{
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover{
  color: var(--accent-color);
}


.primary-button{
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 500;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}

.primary-button:hover{
  background-color: var(--accent-color-dark);
}

.secondary-button{
  border: 1px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 500;
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondary-button:hover{
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}


/* top-banner-section */

.top-banner{
  background-image: url(./usability_Images/top-banner-image.png);
  background-size: 300px;
}

.banner-text{
  color: white;
  padding: 15px 30px;
  text-align: center;
}

/* navbar section */

.logo-section img{
  width: 200px;
}

.main-nav{
  margin-top: 20px;
  justify-content: space-between;
}

.nav-links{
  flex-basis: 730px;
}

.nav-links ul{
  justify-content: end;
  gap: 40px;
}

.hamburger_menu{
  display: none;
}

/* header-section */

header{
  padding: 50px var(--padding-inline-section) 0;
}

.header-section{
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 50px;
}

.header-left{
  max-width: 40vw;
}

.header-left h1{
  margin-top: 20px;
}

.get-started-btn{
  margin-top: 20px;
}


.header-right img{
  width: 100%;
}


/* comapanies section */
.companies-section{
  margin-top: 100px;
}

.companies-header{
  text-align: center;
  margin-block: 30px;
  color: var(--primary-text-color);
}


.logos{
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.logo{
  height: 46px;
}


/* feature section */

.features-sections{
  padding: 50px var(--padding-inline-section) 0px;
  background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5af98b9f779b5a7d0a80351e_Oval%201.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
  margin-block: 100px;
}

.feature-header{
   text-align: center;
   margin-bottom: 50px;
}

.feature-body{
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 20px;
  row-gap: 50px;
}

.feature-card{
  flex-basis: 30%;
  text-align: center;
  padding: 20px;
}

.feature-button{
  margin: 10px;
}

.feature-image{
  height: 50px;
}

.feature-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* big feature seciton  */

.big-feature-section{
  margin-bottom: 70px;
}

.big-feature-container{
  justify-content: space-between;
}

.big-feature-heading{
  font-weight: 500;
}

.big-feature-image{
  width: 48%;
}

.big-feature-image img{
  width: 100%;
}

.big-feature-body{
  width: 45%;
}

.big-section-brand-pic{
  height: 30px;
  margin-block: 20px;
}

.quote-pic{
  background-image: url(./usability_Images/5af9a44aa9b84e59b0b95121_quote.svg);
  background-repeat: no-repeat;
}

.quote-pic .small-bold-text{
  padding-top: 30px;
  padding-left: 30px;
}

.brand-man{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.brand-man-pic{
  height: 60px;
}

.brand-man-name{
  font-size: 1rem;
  letter-spacing: 1px;
}

.brand-man-position{
  font-size: 0.89rem;
}

/* examples-sections */

.example-header{
  flex-direction: column;
  gap: 20px;
}

.example-body{
  justify-content: space-between;
  margin-block: 40px;
  flex-wrap: wrap;
}

.example-child{
  width: 23%;
  min-height: 300px;
  position: relative;
  transition: 0.2s ease-out;
}

.example-child:hover{
  box-shadow: 0 0 10px #888;
}

.example-child:nth-child(1){
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.8)), url(./usability_Images/5b48591a238eb6563b4d3581_cover_tasks.jpg);
  background-size: cover;
}

.example-child:nth-child(2){
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(./usability_Images/5b48581f238eb652d84d356f_cover_navigate.jpg);
  background-size: cover;
}
.example-child:nth-child(3){
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(./usability_Images/5b485751238eb68a594d3555_cover_audience.jpg);
  background-size: cover;
}
.example-child:nth-child(4){
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(./usability_Images/5b48587a238eb690dd4d3577_cover_about.jpg);
  background-size: cover;
}

.example-text{
  color: whitesmoke;
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}


/* pricing-section */

.pricing-section{
  padding: var(--padding-inline-section);
  background-color: #183b54;
}

.pricing-container{
  justify-content: space-between;
}



.pricing-image{
  width: 45vw;
  position: relative;
}

.pricing-main-img{
  width: 100%;
  height: 70%;
}

.pricing-pic-oval{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  text-align: center;
  align-self: center;
  
  
}

.oval-img{

  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

.pricing-pic-oval h3{
  font-weight: 500;
  color: rgb(50, 49, 49);
  font-size: 1.2rem;
}

.pricing-pic-oval p{
  margin-block: 10px;
  font-weight: 500;
  color: #8ba6c0;
  font-size: 1.2rem;
}

.price{
  font-size: 35px;
  color: #2294ed;
  font-weight: 500;
}

.pricing-body{
  width: 42vw;
}

.pricing-body h2{
  font-size: 2.4rem;
  color: white;
  font-weight: 500;

}

.pricing-body p{
  color: #b9cde4;
  margin-top: 20px;
}

.pricing-body h3{
  color: white;
  font-size: 1.3rem;
  margin-block: 20px;
}



.pricing-details{
  color: #577592;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 25px;
}

.pricing-details ul{
  list-style-type: disc;
}

.pricing-details li{
  margin-block: 15px;
}

.highlighted-text{
  border-bottom: 1.5px dashed #b9cde4;
  color: #b9cde4;
}


/* cta secitons */

.cta-section{
  margin-block: 100px;
}

.cta-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* footer section  */

footer{
  background-color: #ebf2fa;
  padding: 80px;
}

.footer-body{
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}

.footer-logo{
  height: 35px;
}

.footer-child h3{
  font-weight: 500;
  font-size: 1.3rem;
}


.footer-child li a{
  margin-block: 8px;
  color: #577592;
  transition: 0.2s ease-out;
}

.footer-child li a:hover{
  color: var(--accent-color);
  cursor: pointer;
}

/* subfooter */

.subfooter{
  background-color: #b9cde4;
  padding-block: 20px;
}

.subfooter-container{
  justify-content: center;
}

.subfooter-body{
  gap: 20px;
  width: 40%;

}

.subfooter-icon{
  width: 30%;
  justify-content: center;
  gap: 20px;
}

.subfooter-icon img{
  height: 15px;
}

.subfooter-text{
  font-size: 0.95rem;
  transition: 0.2s ease-out;
}

.subfooter-text:hover{
  color: #2294ed;
  cursor: pointer;
}

/* chat-section */

.chat-section{
  width: 65px;
  height: 65px;
  /* border-radius: 50%; */
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #2294ed;
  display: flex;
  border: 2px solid red;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.box-a{
  width: 50%;
  height: 50%;
  background-color: white;
}

